#create-spot-form-container{
display: grid;
grid-template-columns: 100px 500px 100px;
justify-content: center;
margin-bottom: 40px;

}

#create-spot-form{
    grid-column-start: 2;
    grid-column-end: 2;
}

input {
    background-color: aliceblue;
    height: 20px;
}

textarea{
    background-color: aliceblue;
}
.long-input-field{
    width: 100%;
}

.medium-input-field{
    width: 90%;
}

.small-input-field{
    width: 80%;
}

.price-input-field{
    width: 95%;
margin-left: 5px;
}


.two-input-fields-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 530px;
    /* justify-content: space-between; */

}

.city-and-field-container{
    flex-basis:80%;
    flex-grow: 3;
  
}

.state-and-field-container{
    flex-basis:20%;
    flex-grow: 1;
    min-width: 170px;
}

.desc-text-area{
    width: 100%;
    height: 100px;

}

.img-input-field{
    width: 100%;
margin-top:20px;
}

.preview-img-input-field{
    width: 100%;
margin-top:0px;
}

#create-button-container{
    display:flex;
    justify-content: center;
}

#submit-new-spot{
box-shadow: 2px 2px 2px 2px;
background-color: gold;

}