:root{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

#site-wide-grid-container{
    /* border: 2px dotted orange; */
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto auto auto 200px;
    justify-content: center;
    grid-auto-flow: row;
    grid-row-gap: 50px;
    grid-column-gap: 0px;
    margin-top: 30px;
}



#spot-tile-container{
/* border: 2px dotted yellowgreen; */
grid-column: 2;
grid-row: 3;
display:flex;
flex-direction: row;
flex-wrap: wrap;
display:flex;
justify-content: left;
row-gap: 40px;
column-gap: 20px;
max-width: 1300px;

}

#spot-tile:hover tool-tip{
 display:block;   
 background-color:white;
 opacity: 0.5;
 width: 300px;
}

tool-tip{
    position: absolute;
    z-index: 1;
    display:none;
    margin-left: 0px;
    margin-top: 30px;
    color:black;
    text-align: center;
   
}



#spot-tile{
    width: 300px;
    /* padding: 15px; */
}

#spot-img{
    width: 100%;
    border-radius: 30px;
}

#spot-price-bold{
    font-weight: bold;
}

.rating-star{
    height: 200px;
}

.modal-delete-button{
    color: white;
    background-color: red;
}

.modal-cancel-delete-button{
    background-color: darkgray;
    color: black
}

.errors {
    color: red;
}

.inline-errors{
    color: red;
    padding-left: 5px;

}
#location-rating-container{
    /* border: 2px solid yellowgreen; */
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#location-caption{
    height: 18px;
  }



#location-rating-price-container{
    /* border: 2px solid yellowgreen; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.label-margin{
    margin-top: 10px;
}

.update-delete-button-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
margin-top: 20px;
}

#update-btn{
    background-color: gray;
    padding: 2px 5px;
    border-radius:3px;
    margin-right: 10px;
    margin-left: 20px;
}

.center-button{
    display:flex;
    justify-content: center;
}

.manage-spots-title{
    grid-column: 2;
    grid-row:2;
}

#manager-create-spot-button{
    width: 150px;
    height: 30px;
    background-color: gold;
    box-shadow: 2px 2px 3px 2px;
}