/* TODO: Add sitewide styles */

:root{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    /* margin-left: -60px; */
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}

#spot-tile-container{
display: inline-flex;
/* flex-direction: row; */
justify-content: start;
/* border: 2px;
border-style: dotted;
border-color: greenyellow; */
flex-wrap: wrap;
margin-bottom: 200px;
}

#spot-tile{
    width: 300px;
    padding: 15px;
}

#spot-img{
    width: 100%;
    border-radius: 30px;
}

.rating-star{
    height: 200px;
}

.modal-delete-button{
    color: white;
    background-color: red;
}

.modal-cancel-delete-button{
    background-color: darkgray;
    color: black
}

.errors {
    color: red;
}

.inline-errors{
    color: red;
    padding-left: 5px;

}
#location-rating-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid yellowgreen; */
    align-items: center;
    margin-bottom: 10px;
}

#location-caption{
    height: 18px;
}

#landing-page-rating{
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid yellowgreen; */
}

#location-rating-price-container{
    /* border: 2px solid yellowgreen; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.label-margin{
    margin-top: 10px;
}

.update-delete-button-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
margin-top: 20px;
}

#update-btn{
    background-color: gray;
    padding: 2px 5px;
    border-radius:3px;
    margin-right: 10px;
    margin-left: 20px;
}

.center-button{
    display:flex;
    justify-content: center;
}