#nav-container{
    display:flex;
    justify-content: space-between;
   margin: 20px;
}

.profile-dropdown.hidden{
    display: none;
}

#create-and-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

#create-spot-button{
    padding: 5px;
    margin: 15px;
}

#user-menu-button{
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}


.user-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    position:absolute;
    top: 35px;
    right: 40px;
    z-index: 1;
    background-color: white;
    border-style: solid;
    border: 1px solid black;
    padding: 5px;
}

.user-menu li{
    list-style: none;
    padding-top: 3px;
}