#nav-container{
    grid-column: 2;
    grid-row: 1;
    display:flex;
    justify-content: space-between;
    padding-right: 30px;
   /* border: 2px solid purple; */

}

.profile-dropdown{
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    background-color: white;
    border-style: solid;
    border: 1px solid black;
    padding: 1px 5px;
    text-align: left;
    min-width: 80px;
}

.dropdown-button-container {
    text-align: center;
}

.dropdown-button-container button{
    background-color: gold;
    padding: 2px 8px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.profile-dropdown li{
    list-style: none;
    padding-top: 5px;
}

.profile-dropdown.hidden{
    display: none;
  
}

#create-and-dropdown{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

#create-spot-button{
    padding: 5px;
    margin: 15px;
}

#user-menu-button{
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    position: static;
}
